[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
wordcloud = "*"
sentence-transformers = "*"
scikit-learn = "*"
tqdm = "*"
nltk = "*"
transformers = "*"
bertopic = "*"
jupyter = "*"
python-dotenv = "*"
google-generativeai = "*"
dotenv = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.11"
